@charset "utf-8";

/* This is an CSS stylesheet for the about.html file 

Authors: Angelina Stilphen, Alex Somoza
Date: 4-30-19

*/

html {
    background-image: url(02.\ Dental\ Assisting.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
}


body {
    background-color: rgba(255, 209, 71, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
}

img#Logo {
    width: 25%;
    display: inline-block;
}

a#insta {
    color: orange;
}

a#insta:hover {
    color: whitesmoke;
}

footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    padding: 5px 0px 5px 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
}