@charset "utf-8";

/* This is an CSS stylesheet for the about.html file 

Authors: Angelina Stilphen, Alex Somoza
Date: 4-30-19

*/

/* Page styles */
/* These styles are for the general objects on the page. This mean anything that isn't a link. The styles mainly affect backgrounds, fonts, and spacings for the tags */

html {

    background: url(image4.jpg) fixed;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

html::after {
    content: "";
    display: table;
    clear: both;
}

body {
    content: "";
    display: table;
    clear: both;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    border: 2px solid black;
}

header h1 {
    font-size: 30px;
    display: flex;
    /* float: right; */
    width: 100%;
    text-align: right;
    padding: 4px;
}

header h2 {
    font-size: 26px;
    text-align: right;
    padding: 0px 4px 0px 4px;
    background-color: rgb(56, 56, 56);
    color: whitesmoke;
}

div#clock {
    font-size: 25px;
    width: 50%;
    display: inline-block;
    float: right;
    text-align: right;
}

h2.titles {
    font-size: 30px;
    margin: 10px 10px 20px 10px;
}



p.para {
    font-size: 18px;
    margin: 0px 15px 30px 15px;
    text-indent: 15px;
    line-height: 20px;

}

p#more {
    text-align: center;
    margin: 20px
}


img#Logo {
    width: 25%;
    display: inline-block;
}

footer {
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer::after {
    content: "";
    clear: both;
    display: table;
}

#footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    width: 80%;
}

/* link Styles */
/* The link styles are for any link on the page. These styles form the Hnav and add styles to the smaller links throughout the page. Consist mainly of color and spacing styles. */

a.soLinks {
    color: orange;
    text-decoration: none;
}

a.soLinks:hover {
    color: rgb(153, 99, 0);
    text-decoration: underline;
}


a.fa {
    background-color: orange;
    color: black;
    padding: 10px;
    font-size: 18px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

a.fa:hover {
    color: white;
}


a#navicon {
    display: none;
    width: 10%;
}

header>nav {
    display: table;
    width: 100%;
}

header>nav>ul {
    display: table-row;
    list-style-type: none;
    background-color: orange;
}

header>nav>ul>li {
    display: table-cell;
    text-align: center;
    padding: 7px 0px 7px 0px;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: black;
}

header>nav>ul>li>a:active {
    text-decoration: underline;
    color: rgb(77, 77, 224);
}

header>nav>ul>li>a:hover {
    color: white;
}


/* ===============
    Media Queries
   ===============*/
/* The media queries are personalized styles for each size viewport inluding mobile, tablet, and desktop. */


/* Desktop Styles*/
@media only screen and (min-width: 900px) {}


/* tablet Styles*/
@media only screen and (min-width: 601px) and (max-width: 900px) {

    a#navicon {
        display: block;
    }

    nav#hnav {
        width: 100%;
    }

    nav#hnav ul {
        display: none;
        width: 100%;
    }

    nav#hnav ul li {
        display: inline-block;
        width: 23.99%;
        padding: 15px 0px 15px 0px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    a#navicon:hover+ul,
    nav#hnav ul:hover {
        display: block;
    }

}


/* mobile Styles */
@media only screen and (max-width: 600px) {

    html {
        width: 100%;
    }

    header h1 {
        padding: 0px;
    }

    body {

        width: 100%;
        border: none;
        margin: 0px;
        height: 100%;
    }

    div#footer {
        width: 100%;
    }

    a#navicon {
        display: block;
    }

    nav#hnav {
        width: 100%;
    }

    nav#hnav ul {
        display: none;
        width: 100%;
    }

    nav#hnav ul li {
        display: inline-block;
        width: 23.99%;
        padding: 15px 0px 15px 0px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    a#navicon:hover+ul,
    nav#hnav ul:hover {
        display: block;
    }

}