@charset "utf-8";

/* These are the main author written styles for the Dental Assisting website 

Authors: Angelina Stilphen, Alex Somoza
Date: 4-3-19

*/

/* Main body styles */
/* The main body styles are styles for the html and body tags. The styles affect the background of both tags and affect the widths and height of   */
html {

    background: url(01.\ Dental\ Assisting.jpg) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

html::after {
    content: "";
    display: table;
    clear: both;
}


body {
    content: "";
    display: table;
    clear: both;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    border: 2px solid black;
}

body::after {
    content: "";
    display: table;
    clear: both;
}


header h1 {
    font-size: 30px;
    display: flex;
    /* float: right; */
    width: 100%;
    text-align: right;
    padding: 4px;
}

.hands {
    font-size: 30px;
    margin: 5px;
}

header h2 {
    font-size: 26px;
    text-align: right;
    padding: 0px 4px 0px 4px;
    background-color: rgb(56, 56, 56);
    color: whitesmoke;
}

section#GS {
    width: 70%;
    /* height: 100%; */
    display: inline-block;

}

section#GS::after {
    content: "";
    display: table;
    clear: both;
}



section#GS p#desc {
    margin: 20px 10px 20px 10px;
    font-size: 20px;
}

section#GS p#west {
    margin: 20px 10px 20px 10px;
    font-size: 20px;
}

section.extra {
    display: inline-block;
    font-size: 45px;
}

aside#vid {
    background-color: rgba(248, 166, 15, 0.699);
    display: inline;
    float: right;
    width: 30%;
    height: 100%;
}

aside#vid::after {
    content: "";
    display: table;
    clear: both;
}

aside#vid video {
    display: block;
    margin: 6px auto 6px auto;
}

section#GS,
aside#vid {
    padding-bottom: 50px;
}

a#westLink {
    color: rgb(230, 158, 24);
    text-decoration: none;
}

a#westLink:hover {
    color: rgb(230, 158, 24);
    text-decoration: underline;
}

a.fa {
    background-color: orange;
    color: black;
    padding: 10px;
    font-size: 18px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

a.fa:hover {
    color: white;
}


img#Logo {
    width: 25%;
    display: inline-block;
}

img#guypic {
    padding: 10px;
    display: block;
    width: 70%;
    margin: 40px auto 40px auto;
}


footer {
    text-align: center;
    background-color: rgb(56, 56, 56);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

footer::after {
    content: "";
    clear: both;
    display: table;
}

#footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    width: 80%;
}


/* Navigation Styles */

header>nav {
    display: table;
    width: 100%;
}

header>nav>ul {
    display: table-row;
    list-style-type: none;
    background-color: orange;
}

header>nav>ul>li {
    display: table-cell;
    text-align: center;
    padding: 7px 0px 7px 0px;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: black;
}

header>nav>ul>li>a:active {
    text-decoration: underline;
    color: rgb(77, 77, 224);
}

header>nav>ul>li>a:hover {
    color: white;
}

/* ===============
    Media Queries
   ===============*/

/* mobile Styles */
@media only screen and (max-width: 480px) {}

/* tablet Styles*/
@media only screen and (min-width: 481px) and (max-width: 750px) {}

/* Desktop Styles*/
@media only screen and (min-width: 768px) {}