@charset "utf-8";

/* These are the main author written styles for the Dental Assisting website 

Authors: Angelina Stilphen, Alex Somoza
Date: 4-3-19

*/


html {
    background-color: orange;
    width: 100%;
    height: 100%;
}


body {
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
}

h1 {
    font-size: 30px;
}