@charset "utf-8";

/* These are the main author written styles for the Dental Assisting website 

Authors: Angelina Stilphen, Alex Somoza
Date: 4-3-19

*/


html {
    background-image: url(01.\ Dental\ Assisting.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
}


body {
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    border: 2px solid black;
}


header h1 {
    font-size: 30px;
    display: inline-block;
    float: right;
    width: 74%;
    text-align: right;
    padding: 4px;
}

h1#hands {
    font-size: 30px;
}

header h2 {
    font-size: 26px;
    text-align: right;
    padding: 0px 4px 0px 4px;
    background-color: rgb(56, 56, 56);
    color: whitesmoke;
}

section {
    margin: 10px 20px 10px 20px;
}


section p#desc {
    margin: 5px;
    font-size: 20px;
}

a.fa {
    background-color: orange;
    color: black;
    padding: 10px;
    font-size: 18px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

a.fa:hover {
    color: white;
}


img#Logo {
    width: 25%;
    display: inline-block;
}


footer {
    position: fixed;
    bottom: 0;
    width: 80%;
    padding: 5px 0px 5px 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
}


/* Navigation Styles */

header>nav {
    display: table;
    width: 100%;
}

header>nav>ul {
    display: table-row;
    list-style-type: none;
    background-color: orange;
}

header>nav>ul>li {
    display: table-cell;
    text-align: center;
    padding: 7px 0px 7px 0px;
}

header>nav>ul>li>a {
    text-decoration: none;
    color: black;
}

header>nav>ul>li>a:active {
    text-decoration: underline;
    color: rgb(77, 77, 224);
}

header>nav>ul>li>a:hover {
    color: white;
}